body{
    background-color:rgba(128, 128, 128, 0.164)!important;
}


.navbar1{
    width: 100vw;
    height: 60px;
    display: flex;
    position: relative;
    align-items: center;
    gap: 10%;
    background-color: white;
}
.profile{
    position: absolute;
    right: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile span{
    display: inline-block;
    font-size: large;
}
.profile img{
    height: 100%;
}


.heading{
    display: inline-block;
font-size: xx-large;
color: blue;
}
.product_list_wrap{
    width: 100vw;
    height: 100vh;
    padding: 5em;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
}
.product_wrap{
    background-color: white;
    height: 200px;
    display: grid;
    grid-template-columns: 24% 15% 50%;
    place-items: center;
}

.product_main_detail{
    display: flex;
    flex-direction: column;
}
.action_btn_wrap{
    display: flex;
   
    justify-content: flex-end;
    column-gap: 25px;
    align-items: center;
}
.product_description{
    height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}
.product_description p{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}
.sort_btn{
    position: absolute;
right: 6%;
height: 50px;
top: 10px;
width: 120px;
border-radius: 12px;
background-color: white;
border: none;
}
.add_product_btn{
    padding: 0.5em;
border-radius: 12px;
border: none;
box-shadow: 2px 2px 2px black
}
.cross::after{
    content: "X";
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.5em;
    width: 25px;
display: inline-block;
height: 25px;
font-size: 0.8rem;
text-align: center;
background-color: aliceblue;

}
.modal_input_wrap{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 80%;
}
.product_price{
    font-size: 2.5rem;
}
textarea:read-only {
     border: none;
  }
  textarea:read-only:focus{
    outline: none;
    border: none;
  }
  textarea{
    width: 70%;
    height: 50%;
    text-align: center;
  }
  .hidden{
    display: none;
  }
  .show{
    display: block;
  }





/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.empty_cart{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
